<VirtualHost *:80>

    ErrorLog ${APACHE_LOG_DIR}/laravel_error.log
    CustomLog ${APACHE_LOG_DIR}/laravel_access.log combined

    DocumentRoot /var/www/laravel/public

    <Directory /var/www/laravel>
        AllowOverride all
        Require all granted
    </Directory>

</VirtualHost>